{% extends 'core.html' %}

{% block content %}


{% if user.is_authenticated %}
<h1 class="title text-center py-2">Add Movie</h1>    

<div class="container">
    <form method="POST" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="hidden" placeholder="Enter Title" id="author" value="" name="author" class="form-control "> 
          </div>
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" placeholder="Enter Title"  value="{{ post.title }}" name="title" class="form-control "> 
        </div>
        <div class="mb-5">
          <label  class="form-label">Link</label>
          <input type="text" placeholder="Enter Title"  value="{{ post.trailer_link }}" name="trailer_link" class="form-control">
        </div>
        <div class="mb-3">
          <label  class="form-label">body</label>
          <textarea name="body" placeholder="Text" value="{{ post.body }}" name="body" class="form-control"></textarea>
        </div>
        <div class="mb-3">
      
        <button type="submit" class="btn btn-success">Add Movie</button>
        <a class="btn btn-primary " href="{% url 'home'%}">back  </a>
     
     
    
    </form>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById("author").value = name;
</script>
{% else %}
   <div class="container">
    <h1 class="text-center">You need to login first</h1>
</div>

{% endif %}
{% endblock %}