{% extends 'core.html' %}


{% block content %}

<h1 class="is-uppercase text-center title py-6">Profile page / edit</h1>

<br></br>

<div class="container ">
    <p class="text-success text-center mb-6">Username first/last name ne moug možete odvajati samo sa crtama npr :" <strong> first_name,last-name, Belgrade_Serbia </strong> "</p>
    <form method="POST" class="form-group  w-50 m-auto">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label> //remember!  username is your <strong>login parameter</strong> //
            <input type="text" placeholder="Enter Title" id="author" value="{{ user.username }} " name="username" class="form-control "> 
        </div>
        <div class="mb-3">
            <label class="form-label">First name</label>
            <input type="text" placeholder="Enter Title" id="author" value="{{ user.first_name }}" name="first_name" class="form-control "> 
        </div>
        <div class="mb-3">
            <label class="form-label">Last name</label>
            <input type="text" placeholder="Enter Title" id="author" value="{{ user.last_name }}" name="last_name" class="form-control "> 
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" placeholder="Enter Title" id="author" value="{{ user.email }}" name="email" class="form-control "> 
        </div>
        <button class="btn btn-success text-uppercase mt-5">Update profile</button>
    </form>
</div>

{% endblock content %}